.sidebar {
    background: black;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 100;
}

.sidebarwrap {
    width: 100%;
    margin-left: 10px;
}

.sidebardata{
    display: flex;
    color: cyan !important;
    padding-left: 20px;
    font-size: 20px;    
}


.sidebardata:hover {
    display: flex;
    color: white !important;
    padding-left: 20px;
    font-size: 20px;    
    background: darkcyan;
    border-left: 4px solid white

}
